@model dynamic

<h2>Hayvan Detayları</h2>

<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Ad:</strong> @Model.Name</p>
<p><strong>Tür:</strong> @Model.Breed</p>
<p><strong>Yaş:</strong> @Model.Age</p>
<p><strong>Açıklama:</strong> @Model.Description</p>
